.autocomplete {
  background-color: var(--primary-color);

  &--results {
    position: absolute;
    top: 47px;
    color: #fff;
    box-shadow: 0px 12px 26px -6px rgba(0,0,0,0.73);

    &, * {
      background-color: var(--primary-color);
    }

    ul {
      padding-bottom: 0;
    }
  }
}