@import "../../assets/stylesheets/mixins";

.autocomplete {
  background-color: var(--primary-color);

  &--hidden-container {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    height: 2000px;
    width: 300px;
    overflow: hidden;
  }

  &--results {
    position: absolute;
    top: 45px;
    color: #fff;
    box-shadow: 0px 12px 26px -6px rgba(0,0,0,0.73);
    z-index: 5;
    width: 100%;

    @include scrollbar(
      $width: 12px,
      $track: var(--primary-color) !important,
      $thumb: #eee !important,
      $hover: #eee !important,
      $radius: 15px
    )

    &, * {
      background-color: var(--primary-color);
    }

    ul {
      padding-bottom: 0;
      width: 100%
    }

    @media (min-width: 789px) {
      top: 52px;
    }
  }

  &--result {
    width: 100%;
  }

  &--checkbox {
    position: absolute !important;
    color: #000;
    top: 50px;
    left: 20px;

    &.inline {
      top: -4px;
      left: 175px;

      svg path {
        fill: #eee;
      }

      &.tooltip {
        border-bottom: none;
      }

      & .tooltiptext {
        width: 75px;
      }

      @media (min-width: 320px) {
        left: 200px;
      }

      @media (min-width: 400px) {
        left: 250px;
      }
    }

    @media (min-width: 480px) {
      position: unset !important;
      color: #eee;
    }

    svg path {
      fill: #000;

      @media (min-width: 480px) {
        fill: #eee;
      }
    }
  }
}