@import "assets/stylesheets/main.scss";

h1, h2 {
  text-align: center;
}

.stock-data {
  &--right-column {
    p {
      margin: 0.5em 0;
    }
  }
}

.watch-stock--form {
  &--submit {
    @include flex();
    margin: 3em auto !important;
  }
}

// Overrides
.MuiFormControl-root {
  margin: initial;
}