@import "./padding.scss" ;
@import "./margin.scss" ;

// Theme
.primary-color {
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color) !important;
}

a {
  text-decoration: none;
}

// Text
.text-center {
  text-align: center;
}

// Positioning
.center {
  @include flex();
  text-align: center;
  margin: 0 auto;
}

.display-center {
  @include flex();
}

.display-col {
  @include flex($dir: column);
}

.display-row {
  @include flex($dir: row, $wrap: wrap);
  max-width: 100%;
}

.justify-start {
  justify-content: flex-start;
}

.space-between {
  @include flex($justify: space-between);
}